body{
    max-width:1200px ;
    min-width: 768px;
    margin: 0 auto 0 auto;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight:weight;
    font-style:normal;
    color:#000000;
    background-color:#ffffff ;
}
.nav-pc{
    font-size: 34px;
    display: flex;
    justify-content: space-between;
}
.nav-pc>a{
    text-decoration: none;
}
.nav-pc>a:link{
    color: #000000;
}
.nav-pc>a:visited{
    color: #000000;
}
.nav-pc>a:hover{
    color: #000000;
    border: solid 1px;
}
.main-photo{
    width: 100%
}
.section-title{
    font-size: 34px;
    text-align: center;
}
.about{
    display: flex;
}
.about>img{
    height: 142px;
    width: 140px;
    border-radius: 100px 100px 100px 100px;
}
.about>span{
    font-size: 24px;
    margin-left :50px;
}
ul{
    font-size: 18px;
    margin-right: 0;
}
.works{
    display: flex;
}
.photo-text{
    font-size:18px ;
    flex-wrap: wrap;
    width:179px ;
    text-align: center;
}
.worksphoto{
    width: 179px;
    height: 134px;
}
footer>span{
    text-align: center;
}

